:root {
    --blue: #8EA1DF;
}

.foreblue {
    color: var(--blue);
}

.backblue {
    background-color: var(--blue);
}

.font {
    font-family: 'Montserrat', sans-serif;
    color:white;
}

.title {
    padding-bottom: 2rem;
    font-size: 40px;
}

.textcenter {
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}

input {
    margin-bottom: 10px;
}

textarea {
    margin-top: 50px;
    width: 20%;
}

button {
    height: 21px;
}