:root {
    --blue: #8EA1DF;
}

.foreblue {
    color: var(--blue);
}

.backblue {
    background-color: var(--blue);
}

.font {
    font-family: 'Montserrat', sans-serif;
    color:white;
}

.bold {
    font-weight: bold;
}

.title {
    padding-bottom: 2rem;
    font-size: 40px;
    text-decoration: underline;
}

.textcenter {
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}

input {
    margin-bottom: 10px;
    border-color: var(--blue);
    border-radius: 5px;
}

.input {
    height: 30px;
}

.input2 {
    margin-top: 10px ;
}

textarea {
    margin-top: 50px;
    width: 266px;
    height:266px;
    border: var(--blue);
    border-radius: 10px;
}

.button {
    height: 32px;
    border-color:white;
    border-radius: 5px;
    background-color:white;
    border: 1px;
}
.buttonmarg {
    margin-left: 10px;
}

.button:hover {
    background-color: gray;
    color:white;
}

.button:active {
    color: white;
    background-color: black;
}

.button:disabled {
    background-color: #8EA1FF;
}

.selector {
    border:var(--blue);
    border-radius: 5px;
    height: 32px;
    background-color: white;
}

.checkbox {
    margin-top:18px;
}